body {
    background: #000;
    color: #fff;
    padding: 25px;
    font-family: sans-serif;
    text-align: center;
  }
  
  #instruction {
    font-size: 20px;
    font-weight: bold;
    color: 	rgb(255,105,180);
  }
  
  #title {
    background-color: pink;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
  }
  
  #character, #character2 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 20px;
  }
  
  #question {
    font-size: 76px;
  }
  